.uploadimage{
  
height: 160px;
}

.cross{
    display:flex;
}
svg{
   
    margin-top: -18px;
    margin-left:auto !important;
    
    
    margin-right:-17px;
    cursor: pointer;

    background-color: #dc3545;;
    border-radius: 50px;
}
.card-body{
    height: 160px;
}