<div class="not-found">
 <a routerLink="/"></a>

    <h1 style="margin-top:80px;">404 Not Found!! </h1>

    <img
        src="https://img.freepik.com/free-vector/404-error-with-portals-concept-illustration_114360-7870.jpg?size=626&ext=jpg&ga=GA1.1.1450302312.1687948381&semt=ais">

    <h2>Error!!<br>The page you are trying to search does not exist!<br>Please check the URL.</h2>
       <div class="bt">

        <button style=" background-color: #3F51B5; color: rgb(246, 241, 241);" type="submit" class="btn bt1 "
            (click)="reload()">reload</button>