<app-loader></app-loader>
<div class="container">

  <div class="mainclass">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <b> {{label}}</b>
        </div>
        <div class="card-body">
          <form [formGroup]="distForm" id="distributorform" class="row g-4"
            (ngSubmit)="formData ? editUsers():addDistributorUser()">
            <div class="col-md-6 d-flex gap-2 distributerdiv ">
              <!-- <label for="inputName" class="form-label distributerlable"> Name<sup>*</sup></label> -->
              <div class="input-field">
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name *"
                  [ngClass]="{ 'is-invalid': submitted && dist['name'].errors }" (keydown)="validateText($event); restrictInitialSpace($event)">
                
                <div *ngIf="submitted && dist['name'].errors" class="invalid-feedback">
                  <div *ngIf="dist['name'].errors?.['minlength'] && !dist['name'].errors?.['pattern'] " class="text-danger">
                    Name must be at least 3 characters
                  </div>
                  <div *ngIf="dist['name'].errors?.['required']">Name is required</div>
                  <div class="text-danger" *ngIf="dist['name'].errors?.['pattern']">
                    Name should only contain alphabets and spaces.
                  </div>
                </div>
               
               
               
              </div>
            </div>
              <div class="col-md-6 d-flex gap-2 distributerdiv">
              <!-- <label for="inputEmail" class="form-label distributerlable">Email<sup>*</sup></label> -->
              <div class="input-field">
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email *"
                  [ngClass]="{ 'is-invalid': submitted && dist['email'].errors }" (keydown)="restrictInitialSpace($event)" >

                <div *ngIf="submitted && dist['email'].errors" class="invalid-feedback">
                  <div *ngIf="dist['email'].errors?.['required']">Email is required</div>
                  <small *ngIf="dist['email'].errors?.['pattern']" class="text-danger">
                    Please enter valid email address</small>
                </div>
               
              </div>
            </div>
            <div class="col-md-6 d-flex gap-2 distributerdiv">
              <!-- <label for="inputPhone" class="form-label distributerlable ">Phone<sup>*</sup></label> -->
              <div class="input-field">
                <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Phone no.*"
                  [ngClass]="{ 'is-invalid': submitted && dist['phone'].errors }" (keydown)="validateNumber($event); restrictInitialSpace($event)">
               
                <div *ngIf="submitted && dist['phone'].errors" class="invalid-feedback">
                  <div *ngIf="dist['phone'].errors?.['required']">Phone no. is required</div>
                  <div *ngIf="dist['phone'].errors?.['pattern']" class="text-danger">Please enter valid phone number.
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-6 d-flex gap-2 distributerdiv">
              <!-- <label for="inputUsername" class="form-label distributerlable">Username<sup>*</sup></label> -->
              <div class="input-field">
                <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username *"
                  [ngClass]="{ 'is-invalid': submitted && dist['username'].errors }" (keydown)="restrictInitialSpace($event)">

                <div *ngIf="submitted && dist['username'].errors" class="invalid-feedback">
                  <div *ngIf="dist['username'].errors?.['required']">Username is required</div>
                  <div *ngIf="dist['username'].errors?.['pattern']">Username should only contain alphabets </div>
                  <div class="text-danger" *ngIf="dist['username'].errors?.['whitespace']">
                    White space dose not required.
                  </div>
                </div>
              
              </div>
            </div>

            <div class="col-md-6 d-flex gap-2 distributerdiv" *ngIf="!isEdit">
              <!-- <label for="inputPassword" class="form-label distributerlable ">Password<sup>*</sup></label> -->

              <div class="input-field" id="passwordfield">

                <input [type]="changetype? 'password':'text'" formControlName="password" placeholder="Password *"
                  [ngClass]="{ 'is-invalid': submitted && dist['password'].errors }" class="distributorpassword" (keydown)="restrictInitialSpace($event)">

                <i [ngClass]="visible?'bi bi-eye-slash plogo':'bi bi-eye plogo'" (click)="viewPass()"></i>


                <div *ngIf="submitted && dist['password'].errors" class="invalid-feedback">
                  <div *ngIf="dist['password'].errors?.['required']">Password is required</div>
                </div>
              </div>
            </div>

            <div class="button">
              <input type="submit" class="btn btn-primary" value="Save" />

              <button type="button" class="btn btn-danger" (click)="onclick()">Cancel</button>

            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>
