<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<div class="container">
  <div class="welcome_txt">
    <span class="welcome">Welcome </span>
    <!-- <span id="dis_name" class="typing-element"><b> {{ distributorName | titlecase }}</b></span> -->
    <span id="dis_name" class="typing-element"><b>{{ toCamelCase(distributorName) }}</b></span>

  </div>

  <div class="row mt-3 mb-3">
    <div class="col-md-3 mb-2">
      <div class="card">
        <h5 class="card-header p-2 d-flex align-items-center justify-content-center" style="background-color: #e6c15b;">
          <!-- <i class="material-icons mysize">badge</i> -->
          <img src="https://static.thenounproject.com/png/95841-84.png" alt="symbol" width="30px">
          <span *ngIf="!isDistributor"><b>Total Active Customers</b></span>
          <span *ngIf="isDistributor"><b>With Customers</b></span>
        </h5>
        <div class="card-body p-1 text-center font-weight-bold">
          <span style="font-size: 24px !important" class="card-title">{{
            customerCount$ | async
            }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-2">
      <div class="card" style="height:92px">
        <h5 class="card-header p-2  d-flex align-items-center justify-content-center"
          style="background-color:  #63b4f7;">
          <!-- <i class="material-icons mysize">propane_tank</i> -->
        
            <img src="https://static.thenounproject.com/png/1741559-84.png" alt="symbol" width="30px">
         
            <span  *ngIf="!isDistributor"><b>Total Available Cylinders</b></span>
            <span *ngIf="isDistributor"><b>With Refillers</b></span>
        </h5>
        <div class="card-body p-2 text-center font-weight-bold">
          <span style="font-size: 24px !important" class="card-title">{{
            withRefillerCount$ | async
            }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-2">
      <div class="card">
        <h5 class="card-header p-2 d-flex align-items-center justify-content-center" style="background-color:#00c300;">
        
     <img src="https://static.thenounproject.com/png/2087097-84.png" alt="symbol" width="30px">
          <span><b> Filled In Godown</b></span>
        </h5>
        <div class="card-body p-1 text-center font-weight-bold">
          <span style="font-size: 24px !important" class="card-title">{{
            filledInventory$ | async
            }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-2">
      <div class="card">
        <h5 class="card-header p-2 d-flex align-items-center justify-content-center" style="background-color:#f4084b;">
        
     <img src="https://static.thenounproject.com/png/2087097-84.png" alt="symbol" width="30px">
          <span><b> Empty In Godown</b></span>
        </h5>
        <div class="card-body p-1 text-center font-weight-bold">
          <span style="font-size: 24px !important" class="card-title">{{
            emptyInventory$ | async
            }}</span>
        </div>
      </div>
    </div>
  </div>


  <div class="row ">
    <div class="col-md-6 mb-2 chart_container d-flex flex-column align-items-center">
      <span class="chart-title">{{ chartTitle }}</span>
      <div style="background-color: #fff; border-radius: 10px;" class="border w-100 h-100 d-flex align-items-center">
        <canvas id="barChart"></canvas>
      </div>
    </div>

    <div style="position: relative"
      class="col-md-6 chart_container d-flex flex-column justify-content-center align-items-center">
      <span class="chart-title">{{ barChartTitle }}</span>
      <div style="background-color: #fff; border-radius: 10px;" class="border w-100 h-100 d-flex justify-content-center">
        <canvas id="pieChart1"></canvas>
      </div>
    </div>
  </div>
</div>