<div class="mainContainer">
  <div class="mainContent">
    <img src="/assets/mfs.png" alt="" />

    <div class="formContent">
      <h1>Reset Password!</h1>

      <form [formGroup]="resetPassForm">
        <div class="passworddiv">
          <label for="">New Password <sup>*</sup> :</label>
          <br />
          <input
            [type]="changetype ? 'password' : 'text'"
            formControlName="newPass"
            [ngClass]="{
              'is-invalid': submitted && formControls['newPass'].errors
            }"
          />
          <i
            [ngClass]="visible ? 'bi bi-eye-slash plogo' : 'bi bi-eye plogo'"
            (click)="viewPass()"
          ></i>

          <div
            *ngIf="submitted && formControls['newPass'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="formControls['newPass'].errors?.['required']">
              New Password is required
            </div>
          </div>
        </div>
        <div class="passworddiv">
          <label for="">Confirm Password <sup>*</sup> :</label>
          <br />
          <input
            [type]="changetype ? 'password' : 'text'"
            formControlName="confirmPass"
            [ngClass]="{
              'is-invalid': submitted && formControls['confirmPass'].errors
            }"
          />
          <i
            [ngClass]="visible ? 'bi bi-eye-slash plogo' : 'bi bi-eye plogo'"
            (click)="viewPass()"
          ></i>
          <div
            *ngIf="submitted && formControls['confirmPass'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="formControls['confirmPass'].errors?.['required']">
              ConfirmPass Password is required
            </div>
          </div>
          <div
            *ngIf="formControls['confirmPass'].errors?.['MustMatch']"
            class="text-danger"
          >
            ConfirmPass Password did not match
          </div>
        </div>

        <button type="submit" class="btn btn-primary" (click)="submit()">
          Submit
        </button>

        <p>Click here to <a routerLink="/auth/login">login</a> !</p>
      </form>
    </div>

    <div class="footer">
      <img class="footerImage" src="/assets/Group 5.png" alt=" " />
      <span>All Rights Reserved</span>
    </div>
  </div>
</div>
