<div class="mainContainer">

    <div class="mainContent">
        <img src="/assets/mfs.png" alt="">

        <div class="formContent">
            <h1>Forget Password!</h1>

            <form action="" formGroupName="resetPassForm" >
                <div>
                    <label for="">Enter mail <sup>*</sup> :</label>
                    <br>
                    <input type="text" placeholder="smarttracker123@gmail.com" formControlName="currentpass">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>

        <div class="footer">
            <img class="footerImage" src="/assets/Group 5.png">
            <span>All Rights Reserved</span>    
        </div>
        
    </div>

</div>