<div *ngIf="isLoading  " style="height: 100vh;width: 100vw;position: fixed;background-color: rgba(0, 0, 0, 0.178);inset:0;z-index: 3;" class="d-flex align-items-center justify-content-center" >

    <div >
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>
</div>


<h3><b>Customer List</b></h3>
<div class="data">
    
    <app-search-filter class="appfilter" (searchedVal)="serchedValue($event)" ></app-search-filter>
    <button class="btn" style="margin-left:auto;" routerLink="customers-add">Add</button>
</div>
<div class="DisTable">
    <app-table [tableData]="customerList" [displayedColumns]="CustomerCol" [Value]="value" [totalRecords]="totalRecords" [totalPages]="totalPages" [currentPage]="currentPage" (pageIndexCalculator)="pageIndexCalculator($event)" ></app-table>
</div>
    
    
